$general-background: #2c2c2c;
$transparent-background: rgba(0, 0, 0, 0);
$general-color: #fff;
$button-color: #13a2e5;
$general-border: 0.1388vw solid #555;
$general-border-radius: 0.3472vw;
$general-width: 40vw;
$general-padding: 0.6944vw;
$general-gap: 2.7777vw;